# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Lint and Test Lemonade

on:
  push:
    branches: ["main"]
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  make-lemonade:
    env:
        LEMONADE_CI_MODE: "True"
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.os }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v3
      - name: Set up Miniconda with 64-bit Python
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          activate-environment: lemon
          python-version: "3.10"
          run-post: "false"
      - name: Install dependencies
        shell: bash -el {0}
        run: |
          python -m pip install --upgrade pip
          pip install pylint
          python -m pip check
          pip install -e .[dev]
      - name: Lint with Black
        uses: psf/black@stable
        with:
          options: "--check --verbose"
          src: "./src"
      - name: Lint with PyLint
        shell: bash -el {0}
        run: |
          pylint src/lemonade --rcfile .pylintrc --disable E0401
          pylint examples --rcfile .pylintrc --disable E0401,E0611,F0010 --jobs=1 -v
      - name: Run lemonade tests
        shell: bash -el {0}
        run: |
          # Test CLI
          lemonade -m -i facebook/opt-125m huggingface-load llm-prompt -p "hi" --max-new-tokens 10
          
          # Test low-level APIs
          python test/llm_api.py

          # Test server CLI
          # python test/server_cli.py

          # Test high-level APIs
          python examples/api_basic.py
          python examples/api_streaming.py

# This file was originally licensed under Apache 2.0. It has been modified.
# Modifications Copyright (c) 2025 AMD